# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: FuzzyBlog
email: fuzzygroup@gmail.com
description: > # this means to ignore newlines until "baseurl:"
  Scott Johnson writing about the usual array of nerd stuff: AWS / Ansible / Ruby / Rails / Elixir / Misc.
baseurl: "/blog" # the subpath of your site, e.g. /blog
url: "https://fuzzygroup.github.io" # the base hostname & protocol for your site
twitter_username: fuzzygroup
github_username:  fuzzygroup

# Build settings
markdown: kramdown
gems:
- jekyll-gallery-generator
- jekyll-sitemap

gallery:
  dir: photos               # Path to the gallery
  symlink: false            # false: copy images into _site. true: create symbolic links (saves disk space)
  title: "Photos"           # Title for gallery index page
  title_prefix: "Photos: "  # Title prefix for gallery pages. Gallery title = title_prefix + gallery_name
  sort_field: "date_time"   # How to sort galleries on the index page.
                            # Possible values are: title, date_time, best_image
  thumbnail_size:
    x: 400                  # max width of thumbnails (in pixels)
    y: 400                  # max height of thumbnails (in pixels)
  # The following options are for individual galleries.
  galleries:
    disneywildtrekafrica:
    #   best_image: IMG_1068.JPG  # The image to show on the gallery index page. Defaults to the last image.
    # japan_trip:
    #   best_image: IMG_0690.JPG
    #   name: "日本の旅"       # Defaults to directory name, replacing _ with spaces & capitalizing words.
    # awesome_stuff:
    #   best_image: snaileo_gonzales.jpg
    #   sort_reverse: true    # Reverse sort images in gallery.
    secret_stuff:
      hidden: true          # Don't show this gallery on the index page. People must guess the URL.

