<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div style="width: 50%; float:left; ">
            <p style="text-align: center; padding: 10px; border: 2px dashed orange">
              <!--
              <a href="https://www.jobhound.io/" class="cta-button-blue">My new product is Job Hound:<br/>Make applying for tech jobs suck less!</a>
                -->
                <a href="https://www.pizzaforukraine.com/" class="cta-button-blue"><img src="/blog/assets/pizza_icon.png">Help the Ukraine<br/>by Donating a Pizza!<img src="/blog/assets/pizza_icon.png"></a>
            </p>
        </div>
        <div style="width: 40%; float:right; text-align: center; valign: center; padding: 10px; border: 2px dashed blue">

            <form id="search" action="https://www.google.com/search">
              <input id="q" name="q" size=40>
              <button type="submit" form="form1" value="Search" onclick="do_search();">Search</button><br/>&nbsp;
            </form>

        </div>
        <p>&nbsp;</p>
        
        <!--
        <div style="width: 75%; float:left; ">&nbsp;&nbsp;&nbsp;</div>
        -->
          <!--
        <div style="width: 20%; float:right; ">
            <p style="text-align: center; padding: 10px; border: 2px dashed #000">
              <a href="http://www.fuzzyblog.io/" class="cta-button-blue">Hire Me!</a>
            </p>
        </div>
            -->
        <div style="clear: both;"></div>
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
