<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <p style="text-align: center; padding: 10px; border: 2px dashed #000">
        <a href="https://www.gamenanny.io/" class="cta-button-blue">My new product is Game Nanny: Take Control of Your Kid's Xbox Gaming - Sign Up for Game Nanny Today!</a></p>
        
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
